@media screen and (max-width: 768px) {
    .container{
        width: 767px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
        
    }

@media screen and (max-width: 480px) {
    .container{
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;    
        }
    
        .row{
        flex-direction: column;
        flex-basis: 100%;
        display: block;
        
        }
            
    }